body{
	background-color: white;
	/*#dfdce3*/
	font-family: Arial, Verdana, sans-serif;
}

hr {
	border-color: #e05038;
}

button {
	background: #f2cbbc;
	border: 2px solid #e05038;
	color: white;
}
button:hover {
	color: #e05038;
}

.mainHeading {
	color: #e05038;
	font-family: Verdana, Arial, sans-serif;
}
.subHeading {
	color: #334431;
	font-family: Verdana, Arial, sans-serif;
}

.contentBox {
	padding: 4px;
	padding-left: 8%;
}

.drawCanvas {
	border: 2px solid #e05038;
}
.canvasButton {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 0px;
}

.text1 {
	padding: 4px;
	color: #334431;
}
.text2 {
	padding: 4px;
	color: #334431;
}

#guessSpan {
	color: #fc4a1a;
	font-size: 24px;
}

#certaintySpan {
	color: #fc4a1a;
	font-size: 18px;
}