body{
	background-color: #dfdce3;
	/*#dfdce3*/
	font-family: Arial, Verdana, sans-serif;
}

h1,h2 {
	padding: 4px;
	border-bottom: 2px solid #fc4a1a;
	border-left: 6px solid #fc4a1a;


}
h1 {
	background: #4abdac;
	color: white;
	font-family: Verdana, Arial, sans-serif;
}
h2 {
	background: white;
	color: #fc4a1a;
}

div {
	padding: 4px;
}
.text1 {
	background: #f7b733;
	padding: 4px;
	color: white;
}
.text2 {
	padding: 4px;
	color: #fc4a1a;
}
canvas {
	background: white;
	border: 2px solid #fc4a1a;
}

button {
	background: #fc4a1a;
	border: 2px solid #f7b733;
	color: white;
}
button:hover {
	color: #f7b733;
}

#guessSpan {
	color: #fc4a1a;
	font-size: 24px;
}

#certaintySpan {
	color: #fc4a1a;
	font-size: 18px;
}